*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: aquamarine;
    padding: 2rem;
}
.header h1{
    color: orangered;
}
p{
    padding: .8rem;
}
span{
    font-size: 35px;
    padding: 5px;
    color: orangered;
}